<h2><%= "#{@user.username}'s Movies" %></h2>

<% @user.movies.each do |m| %>
    <ul>
        <li><%= "Movie Title: #{m.title}" %></li>
        <li><%= "Genre: #{m.genre}" %></li>
        <a href="/movies/<%= m.id %>">Edit</a>
    </ul>
<% end %>