<h3>Please choose a username and password to create an account:</h3>

<form method="post" action="/signup">
    <label for="username">Create Username: </label><br>
    <input type="text" name="username"><br>
    
    <label for="password">Create Password: </label><br>
    <input type ="password" name="password"><br><br>

    <button type="submit"><strong>Register</strong></button>
</form>